@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eff6ff;
  --foreground: #1e3a8a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


:root {
  --background: #f2f9fa;
}

.dark {
  --background: #7781b1; 
  
}

body {
  background-color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  color:#061868
}


* {
  transition: background-color 0.2s ease, color 0.2s ease;
}

